*,
::after,
::before {
  box-sizing: border-box;
}

:root {
    --lightGrey: #f2f2f2;
    --textGrey: #6e8098;
    --darkGrey: #19202d;
    --black: #121721;
    --white: #ffffff;
    --offWhite:#ededed;
    --purple: #5964e0;
    --lightPurple: #939bf4;
}

body {
    background-color: var(--lightGrey);
    font-family: Kumbh Sans,sans-serif;
    font-size: 16px;
    color: var(--textGrey);
}

h1 {
    font-size: 32px;
    font-weight: 700;
}

p {
    margin: 0;
    padding: 0;
}

.filter-header {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content:  center;
    align-items: center;
}

.job-card {
    background-color: var(--white);
    border-radius: 6px;
    margin: 25px 0;
    padding: 50px 32px 32px;
    transition: background-color 0.2s ease-out;
}

.job-card:hover {
    cursor: pointer;
    background-color: var(--offWhite);
}

.job-image-container {
    width: 50px;
    height: 50px;
    position: absolute;
    margin-top: -75px;
    border-radius: 15px;
    background-color: var(--lightPurple);
    display: flex;
    justify-content: center;
    align-items: center;
}

.job-info {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 16px;
}

.job-title {
    font-weight: 700;
    font-size: 20px;
    color: var(--black);
    padding: 0;
    margin-bottom: 16px;
}

.job-country {
    font-size: 14px;
    color: var(--purple);
    font-weight: 700;
    margin-top: 40px;
}

.job-info span:after {
    content: "";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 12px;
    width: 4px;
    height: 4px;
    border-radius: 4px;
    background-color: #6e8098;
}