*,
::after,
::before {
  box-sizing: border-box;
}

:root {
    --lightGrey: #f2f2f2;
    --textGrey: #6e8098;
    --darkGrey: #19202d;
    --black: #121721;
    --white: #ffffff;
    --offWhite:#ededed;
    --purple: #5964e0;
    --lightPurple: #939bf4;
}

.footer-home {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.form-icon {
    width: 18px;
    height: auto;
}

.form-input-select-row {
    display: flex;
    align-items: center;
    margin: 10px 20px;
}

.form-input-select-icon {
    margin-top: 5px;
    width: 18px;
    height: auto;
}
.form-input-select {
    width: 100%;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

option {
    padding: 20px;
    height: 40px;
}

body {
    background-color: var(--lightGrey);
    font-family: Kumbh Sans,sans-serif;
    font-size: 16px;
    color: var(--textGrey);
}

h1 {
    font-size: 32px;
    font-weight: 700;
    margin: 0;
}

p {
    margin: 0;
    line-height: 160%;
}

a {
    text-decoration: none;
}

a:visited {
    color: unset;
}

.flex-row {
    display: flex;
    align-items: center;
}

.text-purple {
    color: var(--purple);
    font-weight: 700;
}

.filter-buttons-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter-buttons-wrapper > img:nth-of-type(1) {
    display: flex;
    margin: 0 30px;
}

@media(min-width: 830px) {
    .filter-buttons-wrapper > img:nth-of-type(1) {
        display: none;
    }    
}

.job-info {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 16px;
}

.job-info span:after {
    content: "";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 12px;
    width: 4px;
    height: 4px;
    border-radius: 4px;
    background-color: #6e8098;
}

.job-heading {
    font-size: 16px;
    margin: 40px 0 30px;
}